.main_nav__container {
    display: flex;
    margin: 10px;
    padding: 8px;
    border-radius: 15px;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_cta__button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    color: white;
    background: black;
    border: none;
    transition: all 0.5s;
    font-weight: 600;
    padding: 10px;
}

.nav_logo {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: large;
}