.main_nav__container {
    display: flex;
    margin: 10px;
    background: #F1C376;
    padding: 8px;
    border-radius: 15px;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_cta__button:hover {
    background: transparent;
    color: #606C5D;
    transition: all 0.5s;

}

.nav_cta__button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    background: #606C5D;
    color: #F1C376;
    transition: all 0.5s;
    font-weight: 700;
    border: solid 2px #606C5D;
    padding: 8px;
}

.nav_logo {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #606C5D;
    font-weight: 700;
}